.items {
  background: #B54766;
}

h2 {
  color: blue;
}

.items h2 {
  color: green;
}

.item:first-of-type h2 {
  color:red;
}
.item:nth-of-type(2) h2 {
  color:green;
}
.item:nth-of-type(3) h2 {
  color:blue;
}
